.menu-bar{
    background:#870B5A;
    text-align: center;


}
.menu-bar ul
{
display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li
{
    whidth:120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
}

.sub-menu
{
Display:none;
}
.menu-bar ul li:hover .sub-menu
{
    display:block;
    position: absolute;
    background:#870B5A ;
    margin-top:15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu ul
{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu ul li
{
    width:150px;
    padding: 10px;
    border-bottom: 1px dotted #ffffff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background:#870B5A ;
}

.collapsible{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

h3{
    text-align: center;
    color:white;
}
h5{

    color: white;
}
p{
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.botao{
    position: absolute;
    height: 50px;
    width: 120px;
    left: 96%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #BE0D81;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;

}
.botao-ver-perfil{
    background-color:#870B5A;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;

}
label {
    color: white;
    padding: 15px ;
}
.container-botao .btn{
    position: absolute;
    height: 50px;
    width: 120px;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #BE0D81;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;

}
.container .btn {
    position: absolute;
    height: 50px;
    width: 120px;
    left: 89%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #BE0D81;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}
.container {
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
    margin-top: 50px;
}
.container-botao{
    border-radius: 5px;
    padding: 20px;
    position: relative;
}
.container-docente{
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
    height: 150px;
    width: 700px;
    margin-top: 70px;
    margin-left: 120px;
    justify-content: center;
    align-self: center;

}
.container-coord{
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
    height: 280px;
    width: 700px;
    margin-top: 70px;
    margin-left: 120px;
    justify-content: center;
    align-self: center;

}
.container-perfil{
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
    height: 350px;
    width: 900px;
    margin-top: 70px;
    margin-left: 275px;

}
.texto-perfildocente{
    color:white;
    font-size: 24px;
    float: right;
    margin-top: 1px;
    margin-right: 50px;

}
.texto-perfil{
    color:white;
    font-size: 24px;
    float: right;
    margin-top: 35px;
    margin-right: 50px;

}
campo-perfil{
    margin-top: 50px;

}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
}
.table-responsive {
    margin: 30px 0;
    border: 2px solid #870B5A;
    border-radius: 2px;

}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    background: #870B5A;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
    background: #870B5A;
}
.pagination li.active a:hover {
    background: #870B5A;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
    position: relative;
}
.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}
.custom-checkbox label:before{
    width: 18px;
    height: 18px;
}
.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    z-index: 3;
    transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #870B5A;
    background: #870B5A;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
    max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}
.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}
.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}
.modal .modal-title {
    display: inline-block;
}
.modal .btn {
    border-radius: 2px;
    min-width: 100px;
}
.modal form label {
    font-weight: normal;
}
.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #870B5A;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.navlink {
    color: white;
    padding-right: .5rem;
    padding-left: .5rem;
}
.nav-cor{
    background-color: #870B5A;
}
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
    border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    color: #999;
}
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #870B5A;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
    width: 100%;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #870B5A !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #45aba6 !important;
    outline: none;
}
.container_inst {
    justify-content: center;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
}
.image_inst{
    border-radius: 5px ;
    position: relative;
    width:1366px;
    height:200px;
    justify-content: center;
    float: left;
}
.titulo-inst{
    color:black;
    font-size: 24px;
    font-family: "Times New Roman";
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-right: 50px;

}
.texto-inst{
    color:black;
    font-size: 22px;
    font-family: "Times New Roman";
    float: left;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;

}
.colleft_inst {
    color: #870B5A;
    width: 100px;
}
.col_inst {
    background: #870B5A;
    width: 10px;
}

.titulo-escola{
    color:#870B5A;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
    justify-content: center;
    text-align: center;

}
.titulo-dept{
    color:#870B5A;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 36%;
    justify-content: center;
    text-align: center;


}
.image_escola{
    border-radius: 5px ;
    position: relative;
    justify-content: center;
    float: left;
    margin: 10px;
    vertical-align: top;
}
.image_escola-2{
    border-radius: 5px ;
    position: relative;
    justify-content: center;
    float: left;
    margin: 10px;
    vertical-align: top;
    width: 750px;
    height: 370px;
}
.col-right-escola{
    float: right;
    vertical-align: top;
}
.col-left-escola{
    float: left;
}
.row-bottom-escola{
    vertical-align: bottom;
}
.subcol-left-escola{
    float: left;
    vertical-align: middle;
    text-align: left;
}
.subtitulo-escola{
    color:#870B5A;
    font-size: 20px;
    font-weight: bold;

    margin-top: 10px;
    margin-right: 50px;
    justify-content: center;
    text-align: center;

}
.icon-escola{
    border-radius: 5px ;
    position: relative;
    justify-content: center;
    float: left;
    width: 150px;
    height: 150px;
    float: left;
}
.subcol-right-escola1{
    color:#870B5A ;
    vertical-align: top;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;
}
.subcol-right-escola2{
    color:#870B5A ;
    vertical-align: bottom;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 50px;
    justify-content: center;
    text-align: left;
}
.container-escola{
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    margin-top: 50px;
    vertical-align: bottom;
}

.texto-list-doc{
    font-size: 18px;
    color:#870B5A ;


}
.container-dir{
    border-radius: 5px;
    background-color: #870B5A;
    padding: 20px;
    position: relative;
    height: 280px;
    width: 575px;
    justify-content: center;
    float: left;
    vertical-align: middle;
    text-align: left;
}
#myVideo {;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.dropcor{
    background:#870B5A;
}

footer {
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-secondary-1 {
    background-color: #870B5A !important;
}

.color
{
    border: 20px;
    border-color: #870B5A;
    border-radius: 20px;
    color: #870B5A;
}
